.navbar {
    background-color: #f8f9fa !important; 
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #000 !important;
}

.container {
    padding-top: 20px;
}

.footer {
    background-color: #f8f9fa; 
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
